@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.todoContainer{
  border: 1px solid blue;
  border-radius: 24px;
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
}
.todo{
  margin: 10px 0px;
  border: 1px solid rgb(12, 211, 111);
  border-radius: 12px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoInput{
  border: none;
  background-color: rgb(184, 218, 250);
  margin-bottom: 10px; 
  padding: 8px;
  font-size: 18px;
}
.todoName{
  font-size: 20px; 
  font-weight: bold; 
}
.todomorebutton button{
  outline: 1px solid rgb(100, 219, 240);
  margin: 2px;
}

.react-confirm-alert-body{
  border: 1px solid rgb(12, 211, 111);
  background-color: rgb(124, 248, 207);
  color: rgb(12, 1, 59);
}